smart-energy-system/src/main/java/com/github/smartenergysystem/dynamicPricing/xml/PriceXmlSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:iec62325.351:tc57wg16:451-3:publicationdocument:7:0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Publication_MarketDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="mRID"/>
        <xs:element type="xs:byte" name="revisionNumber"/>
        <xs:element type="xs:string" name="type"/>
        <xs:element name="sender_MarketParticipant.mRID">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="codingScheme"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="sender_MarketParticipant.marketRole.type"/>
        <xs:element name="receiver_MarketParticipant.mRID">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="codingScheme"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="receiver_MarketParticipant.marketRole.type"/>
        <xs:element type="xs:dateTime" name="createdDateTime"/>
        <xs:element name="period.timeInterval">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="start"/>
              <xs:element type="xs:string" name="end"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TimeSeries" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="mRID"/>
              <xs:element type="xs:string" name="businessType"/>
              <xs:element name="in_Domain.mRID">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="codingScheme" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="out_Domain.mRID">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="codingScheme" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="currency_Unit.name"/>
              <xs:element type="xs:string" name="price_Measure_Unit.name"/>
              <xs:element type="xs:string" name="curveType"/>
              <xs:element name="Period">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="timeInterval">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="start"/>
                          <xs:element type="xs:string" name="end"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:duration" name="resolution"/>
                    <xs:element name="Point" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="position"/>
                          <xs:element type="xs:float" name="price.amount"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

